/* src/components/Modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal2 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  
  .close-button {
    background: rgb(255, 0, 0);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    position: absolute;
    color: rgb(0, 0, 0);
    top: -20px;
    right: 0px;
    cursor: pointer;
  }
  