.tasks-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px; /* Adjust this based on the height of your navbar */
  height: 100vh;
}

.tasks-content {
  margin: auto;
  height: 820px;
  width: 1000px; /* Increase the width to make the table larger */
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.table-container {
  max-height: 710px; /* Adjust this height as needed */
  overflow-y: auto;
  overflow-x: hidden;
}

.tasks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tasks-table th, .tasks-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Center the text in each cell */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

.tasks-table th {
  background-color: #f2f2f2;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top */
  z-index: 1; /* Ensure it is above the table rows */
}

.tasks-table tr:nth-child(even) {
  background-color: #fdf5abd7;
}

.tasks-table tr:hover {
  background-color: #ddd;
}

.tasks-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  background-color: #8bb9ee;
  color: white;
}
