/* Board.css */

.board-container {
  display: flex;
  flex-direction: column;
  padding-top: 130px; /* Adjust this based on the height of your navbar */
  height: 100vh;
}

.board-columns {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px; /* Add gap between columns */
}

.board-column {
  flex: 1;
  min-width: 520px; /* Increase this value to make columns wider */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.board-column h2 {
  text-align: center;
  margin-bottom: 20px;
}



.task-card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task-card h3 {
  margin: 0;
  font-size: 18px;
}



.task-card p {
  margin: 5px 0;
  color: #555;
}

.task-card img {
  max-width: 100%;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

.add-task-form {
  margin-top: 20px;
}

.add-task-form input,
.add-task-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-task-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.add-task-button:hover {
  background-color: #0056b3;
}

.board-actions button {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 10px;
  align-items: flex;
}

.board-actions button:hover {
  background: #5900ff;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(240, 240, 240);
}

.edit-task-button {
  background: #000000;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.edit-task-button:hover {
  color: #2f00ff;
}
