/* src/components/Auth.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background: url('/back.jpeg') no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: 24px;
  font-weight: 3000;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

label {
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
  text-align: left;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s;
  margin-bottom: 5px; /* Space to accommodate error messages */
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.error-input {
  border-color: red;
  animation: shake 0.3s;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.link {
  margin-top: 20px;
  text-align: center;
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px; /* Adjusted to place the error message below the input field */
  position: relative;
}

.error::before {
  content: '⚠️';
  margin-right: 5px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
