/* src/components/Dashboard.css */

body {
  background: url('/back.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent the body from scrolling */
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px; /* Adjust this based on the height of your navbar */
  height: 100vh;
}

.content-columns {
  display: flex;
  flex-direction: row; /* Change to row to place sidebar, main content, and task content side by side */
  width: 100%;
  height: calc(100vh - 60px); /* Adjust height based on navbar */
  overflow: hidden; /* Prevent the container from scrolling */
  padding-top: 100px; /* Add top padding to create space below navbar */
}

.sidebar, .main-content, .task-content {
  overflow-y: auto; /* Allow vertical scrolling within each column */
}

.sidebar {
  width: 250px;
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px;
  margin-right: 20px; /* Space between columns */
}

.sidebar h2 {
  margin: 0;
  padding: 15px 0;
  color: rgb(17, 0, 255);
  border-bottom: 1px solid #757dbd;
}

.sidebar ul {
  list-style: none;
  padding: 5px;
}

.sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #9690cc;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 100px); /* Adjust height based on navbar and padding */
  overflow-y: auto; /* Allow vertical scrolling within the workspace box */
  margin-right: 20px; /* Space between columns */
}

.main-content h2 {
  color: rgb(21, 119, 199);
}

.task-content {
  width: 300px; /* Fixed width for task column */
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 100px); /* Adjust height based on navbar and padding */
  overflow-y: auto; /* Allow vertical scrolling within the task box */
}

.task-content h2 {
  color: rgb(0, 174, 255);
}

.recently-tasks, .your-workspaces {
  margin-bottom: 20px;
}

.workspace-card, .task-card {
  background: linear-gradient(145deg, #d8d7d7, #ffffff); /* Gradient background for cards */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.workspace-card h3 {
  margin: 0 0 10px 0;
}

.workspace-card button {
  background: #0011ff;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.workspace-card button:hover {
  background: #ff7b00;
}

.title-workspace, .title-task {
  font-weight: 1000;
}

.date-task {
  color: #000000;
  font-size: 14px;
}
